.social {
  z-index: 10;
  margin-right: 20px;
  transform: scale(0.8); 
  
  transition-duration: 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
#social-fb {
  color: $fb;
}
#social-tw {
  color: $tw;
}
#social-gp {
  color: $gp;
}
#social-lk {
  color: $lk;
}
#social-em {
  color: $em;
}
