$main-color: #5d6b79; // Deep Blue
$color2: #5d6b79; //Plum
$color3: #903749; //Maroon
$offwhite: #fdfeff; //Off White
// backgrounds colors
$header-background: #F5F5F5;
$section-background: #efefee;
$hero-background: #cccccc;

// links
$a-color: #5d6b79;
$a-hover-color: #2a6496;

// buttons
$cta-color: #fdfefe;
$cta-bkgrd: #5cb85c;
$cta-color-hover: #fdfeff;
$cta-bkgrd-hover: #449d44;

